<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user_1.loker_practice">

    <application
        android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.example.user_1.loker_practice.AppLockActivity"
        android:label="@string/title_activity_app_lock"
        android:theme="@style/AppTheme.NoActionBar"></activity>

    <activity
        android:name="com.example.user_1.loker_practice.AppReserveActivity"
        android:label="@string/title_activity_app_reserve"
        android:theme="@style/AppTheme.NoActionBar"></activity>
</application>

    </manifest>
